@use "./base.scss";

// put your custom CSS here!


.table-container {
  overflow-x: auto;
}

.table-container table {
  width: fit-content;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.table-container th,
.table-container td {
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--lightgray);
}

.table-container th {
  background: var(--light);
  text-align: left;
  font-weight: 600;
}

.table-container tr:nth-child(even) td {
  background: var(--lightest);
}

